article {
    display: inline-block;
    width: 100%;

    & > * {
        margin-bottom: 20px;

        &:first-child {
            margin-top: 5px;
        }
    }
}

figure {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;

    img {
        max-width: 60%;
        border-radius: 5px;
    }

    &.image--stretched img {
        width: 100%;
        max-width: 100%;
    }

    &.image--with-border {
        border: 1px solid grey;
        padding: 10px;
        border-radius: 5px;
    }

    &.image--with-background {
        background-color: lightgray;
        padding: 10px;
        border-radius: 5px;
    }

    figcaption {
        padding-top: 5px;
        color: grey;
    }
}

table {
    max-width: 100%;
}

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}

hr {
    margin: 30px;
    border: none;

    &::before {
        content: "***";
        text-align: center;
        display: block;
        font-size: 2em;
    }
}

.katex-display {
    overflow-y: hidden;
    overflow-x: auto;
}
