.mybac__block {
    * {
        font-family: sans-serif;
    }

    .error {
        color: red;
    }

    @import "article";
    @import "video";

    @import "../../node_modules/katex/dist/katex";
}
